<html>
    <head>
        <title>MeNU demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type = "text/css" href="/main.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/71a5734593.js" crossorigin="anonymous"></script>
        <header>
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <div class="navbar-header">
                    <a  class = "navbar-brand" href="/">MeNU</a>
        
                </div>
               

                <div class="collapse navbar-collapse">
                    <ul class=" nav navbar-nav navbar-right" id="navbarSupportedContent" >
                        <% if(!currentUser) {%>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign-up</a></li>
                       <%  } else{%>
                                    <li><a href=""><%=currentUser.username  %> </a></li>
                                     <li><a href="/logout">Log-out</a></li>
                       <%}%> 
                        

        
                    </ul>
        
                </div>
            </div>
        
        </nav>
    </header>
                <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> -->
        <div class="container">
            <% if(error && error.length>0) {%> 
                <div class="alert alert-danger" role="alert">
                    <%= error %> 
                </div> 
            <% } %> 
            <% if(success && success.length>0) {%> 
                <div class="alert alert-success" role="alert">
                    <%= success %> 
                </div>
            <% } %> 

        </div>
        
        
    </head>  
    <body>

        
        