<%- include ('partials/header'); -%> 
<!DOCTYPE html>
<html>
    <head>
        <title>Mess Near You</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type = "text/css"href="/main.css">

    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length < 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    
    
    <div id="landing-header" class="text-center">
         <h1 class="">Welcome to MeNU</h1>
         <hr style="">
         <p style="color: white; font-size: 20px;">
            “Find The Best Mess in Your locality”
         </p>

		<a href="/campgrounds" class="btn btn-lg btn-success"><i class="fas fa-utensils"></i>View All Registered Mess</a>
    </div>
</div>
    
    <!-- <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul> -->

    <script src="https://kit.fontawesome.com/71a5734593.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> -->
    
    
<%- include ('partials/footer'); -%> 

